In [ ]:
#from google.colab import drive
#drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
!pip install pyspark
!pip install openclean
!pip install uszipcode
!pip install humanfriendly

In [ ]:
import pandas as pd
import uszipcode
import gzip
import humanfriendly
import os
import numpy as np

In [ ]:
from openclean.data.source.socrata import Socrata
from openclean.profiling.column import DefaultColumnProfiler
from openclean.profiling.anomalies.sklearn import DBSCANOutliers
from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

In [ ]:
!pip install datatable

Requirement already satisfied: datatable in /usr/local/lib/python3.7/dist-packages (1.0.0)

In [ ]:
import datatable as dt
pd_data = dt.fread("../data/311_Service_Requests_from_2010_to_Present.csv")

In [ ]:
pd_data = pd.read_csv("../data/311_Service_Requests_from_2010_to_Present.csv")

In [ ]:
pd_data.head()

   Unnamed: 0  Unique Key  ... Longitude                                  Location
0           0    51560911  ...       -74   (40.68884640295723, -73.85075384808735)
1           1    51560923  ...       -74   (40.87023400587434, -73.90060480716431)
2           2    50469886  ...       -74   (40.60913860285155, -74.00185479490075)
3           3    50470191  ...       -74  (40.600422830424975, -73.95378022131071)
4           4    50470218  ...       -74    (40.67997699346374, -73.8059047916443)

[5 rows x 42 columns]

In [ ]:
pd_data = pd_data.rename(columns={"Created Date":"Created_Date",
                                  "Closed Date":"Closed_Date",
                                  "Agency Name":"Agency_Name",
                                  "Complaint Type":"Complaint_Type",
                                  "Location Type":"Location_Type",
                                  "Incident Zip":"Incident_Zip",
                                  "Incident Address":"Incident_Address",
                                  "Street Name":"Street_Name",
                                  "Cross Street 1":"Cross_Street_1",
                                  "Cross Street 2":"Cross_Street_2",
                                  "Intersection Street 1":"Intersection_Street_1",
                                  "Intersection Street 2":"Intersection_Street_2",
                                  "Address Type":"Address_Type",
                                  "Facility Type":"Facility_Type",
                                  "Due Date":"Due_Date",
                                  "Resolution Description":"Resolution_Description",
                                  "Resolution Action Updated Date":"Resolution_Action_Updated_Date",
                                  "Community Board":"Community_Board",
                                  "Park Borough":"Park_Borough"})

### ZIP Code mapping

Loading the Reference Data for zip codes.

In [ ]:
zip_data = pd.read_csv("../data/nyc-zip-codes.csv")

In [ ]:
zip_data.head()

  Borough            Neighborhood  ZipCode
0   Bronx           Central Bronx    10453
1   Bronx           Central Bronx    10457
2   Bronx           Central Bronx    10460
3   Bronx  Bronx Park and Fordham    10458
4   Bronx  Bronx Park and Fordham    10467

In [ ]:
len(zip_data.ZipCode.unique())

178

Unique Zip codes found in our dataset are way greater than the unique codes found in the reference data

In [ ]:
len(pd_data.Incident_Zip.unique())

1378

Creating a function to map valid zip codes using reference data and flagging other values as unspecified.

In [ ]:
def check_zip(z):
    
  if z in zip_data.ZipCode.unique():
        return int(z) 
  
  else:
        return 'Unspecified'

In [ ]:
pd_data.Incident_Zip = pd_data.Incident_Zip.map(lambda x: check_zip(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
len(pd_data.Incident_Zip.unique())

179

In [ ]:
pd_data.head()

   Unnamed: 0  Unique Key  ... Longitude                                  Location
0           0    51560911  ...       -74   (40.68884640295723, -73.85075384808735)
1           1    51560923  ...       -74   (40.87023400587434, -73.90060480716431)
2           2    50469886  ...       -74   (40.60913860285155, -74.00185479490075)
3           3    50470191  ...       -74  (40.600422830424975, -73.95378022131071)
4           4    50470218  ...       -74    (40.67997699346374, -73.8059047916443)

[5 rows x 42 columns]

### Community Board

Reference data for Community Board is found here: https://communityprofiles.planning.nyc.gov/

In [ ]:
community_data = pd.read_csv("../data/CommunityDistrictData.csv")

In [ ]:
community_data.head()

   the_geom  cartodb_id  the_geom_webmercator  ...       v_acs  v_facdb v_crime
0       NaN           1                   NaN  ...  Y2014-2018  6/24/20    2019
1       NaN           2                   NaN  ...  Y2014-2018  6/24/20    2019
2       NaN           3                   NaN  ...  Y2014-2018  6/24/20    2019
3       NaN           4                   NaN  ...  Y2014-2018  6/24/20    2019
4       NaN           5                   NaN  ...  Y2014-2018  6/24/20    2019

[5 rows x 188 columns]

Checking for unique values of Community Boards in the reference data and our dataset.

In [ ]:
len(community_data.cd_short_title.unique())

59

In [ ]:
len(pd_data.Community_Board.unique())

80

Checking the format of names.

In [ ]:
community_data.cd_short_title.head(10)

0     Manhattan CD 1
1     Manhattan CD 2
2     Manhattan CD 3
3     Manhattan CD 4
4     Manhattan CD 5
5     Manhattan CD 6
6     Manhattan CD 7
7     Manhattan CD 8
8     Manhattan CD 9
9    Manhattan CD 10
Name: cd_short_title, dtype: object

In [ ]:
pd_data.Community_Board.head(10)

0        09 QUEENS
1         08 BRONX
2      11 BROOKLYN
3      15 BROOKLYN
4        10 QUEENS
5        10 QUEENS
6         11 BRONX
7         04 BRONX
8      06 BROOKLYN
9    0 Unspecified
Name: Community_Board, dtype: object

As seen above, there seems to be difference in formatting of the values in both datasets. We will make small changes to the reference data and our dataset so that the Community titles in reference data matches with the Community Board column in our dataset.

In [ ]:
pd.options.mode.chained_assignment = None 

for row in community_data.index:
    upper = community_data.at[row, "cd_short_title"].upper().replace(' CD','')
    num_first = "{}".format(upper[-2:] + ' ' + upper[:-2]).strip()
    community_data.cd_short_title.loc[row] = num_first

In [ ]:
community_data.cd_short_title.head(10)

0     1 MANHATTAN
1     2 MANHATTAN
2     3 MANHATTAN
3     4 MANHATTAN
4     5 MANHATTAN
5     6 MANHATTAN
6     7 MANHATTAN
7     8 MANHATTAN
8     9 MANHATTAN
9    10 MANHATTAN
Name: cd_short_title, dtype: object

In [ ]:
def community_changes(cb_string): 
  
  if cb_string.startswith('0'):
        return cb_string[1:]
  else:
        return cb_string

In [ ]:
pd_data.Community_Board = [community_changes(str(i)) for i in pd_data.Community_Board]

In [ ]:
pd_data.Community_Board.head(10)

0        9 QUEENS
1         8 BRONX
2     11 BROOKLYN
3     15 BROOKLYN
4       10 QUEENS
5       10 QUEENS
6        11 BRONX
7         4 BRONX
8      6 BROOKLYN
9     Unspecified
Name: Community_Board, dtype: object

Mapping Community Board names with the reference data and flagging other values as unspecified.

In [ ]:
def check_community(z):
    
  if z in community_data.cd_short_title.unique():
        return z 
  
  else:
        return 'Unspecified'

In [ ]:
pd_data.Community_Board = pd_data.Community_Board.map(lambda x: check_community(x))

In [ ]:
len(pd_data.Community_Board.unique())

60